$grid-gutter-width: 10px;

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

$offwhite: #FDFDFD;

@mixin uniform-border() {
  border: 10px solid $offwhite;
  margin-top: 10px;
  margin-bottom:10px;
}

@mixin grayshadow(){
  box-shadow: 0px 4px 0px #81807C;
}

body {
  background-image: url('../skateboard-images/bg.jpg');
}

img{
  max-width: 100%;
}

.social-links{
  display: inline-block;
  text-decoration: none;
}

.subscribe-header{
  display: inline-block;
  color: $offwhite;
}

.socialbutton{
  display: inline-block;
  height: 60px;
  width: 60px;
  margin:6px;
  font-size: 35px;
  text-align: center;
  padding-top: 9px;
  @include grayshadow;
}

.facebook{
  background-color: #455992;
  color: #7683B1;
}

.rss{
  background-color: #CC8F44;
  color: #D9AC71;
}

.twitter{
  background-color: #6B8EC2;
  color: #90A8D0;
}

.youtube{
  background-color: #B23732;
  color: #C56766;
}

.site-links{
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  color: $offwhite;
  height: 40px;
  background-color: #B32731;
  text-decoration: none;
  padding-top: 14px;
  margin-top: 10px;
  @include grayshadow;
}

.feature{
  position: relative;
  height: 337px;
  @include uniform-border();
  background-image: url('../skateboard-images/top-image.png');
  background-size: cover;
  overflow: hidden;
  @include grayshadow();
}

.peralta-logo{
  position:absolute;
  z-index: 100;
}

.grid-control{
  position:absolute;
  opacity: .7;
  top:0;
  left:0;
}

.post{
  background-color: $offwhite;
  @include uniform-border();
  @include grayshadow();
}

.sk8er-sm{
  @include uniform-border();
  @include grayshadow();
  position: relative;
  height: 222px;
}

.lance-mountain{
  background-image: url('../skateboard-images/sk8er-4.png');
  background-size: cover;
  background-position: right;
}

.rodney-mullen{
  background-image: url('../skateboard-images/sk8er-3.png');
}

.sk8er-long{
  @extend .sk8er-sm;
  background-image: url('../skateboard-images/sk8er-1.png');
  background-position: center;
}

.sk8er-tall{
  @extend .sk8er-sm;
  background-image: url('../skateboard-images/sk8er-2.png');
  background-position: right;
  height: 464px;
}


h5{
  color: $offwhite;
  font-size: 33px;
  position:absolute;
  width: 100%;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  top: 33%;
}

.board-gallery{
  background-color: $offwhite;
  @include grayshadow();
  img{
    @include uniform-border();
  }
}

.contact-info{
  @include uniform-border();
  @include grayshadow();
  background-color: $offwhite;
}

.myform-control{
  border-radius: 0px;
}

h6{
  font-size: 17px;
  text-transform: capitalize;
}

.socialbottom{
  
}
