$grid-gutter-width: 10px;

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

$offwhite: #FDFDFD;

@mixin uniform-border() {
  border: 10px solid $offwhite;
}

body {
  background-image: url('../skateboard-images/bg.jpg');
}

img{
  max-width: 100%;
}

.feature{
  position: relative;
  height: 337px;
  @include uniform-border();

}

.feature::before{
  position: absolute;
  content:'';
  background-image: url('../skateboard-images/grid.png');
  top:0;
  bottom:0;
  right:0;
  left:0;
}

.post{
  background-color: $offwhite;
  @include uniform-border();
}

.sk8er-sm{
  @include uniform-border();
  position: relative;
}

.lance-mountain{
  @include uniform-border();
  background-image: url('../skateboard-images/sk8er-4.png');
  height: 222px;
}

.rodney-mullen{
  background-image: url('../skateboard-images/sk8er-3.png');
  height: 222px;
}

.sk8er-long{
  @extend .sk8er-sm;
  background-image: url('../skateboard-images/sk8er-1.png');
  height: 222px;
}

.sk8er-tall{
  @extend .sk8er-sm;
  background-image: url('../skateboard-images/sk8er-2.png');
  height: 464px;
}


h5{
  color: $offwhite;
  font-size: 33px;
  position:absolute;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  top: 33%;
}

.board-gallery{
  background-color: $offwhite;
}

.board-gallery > img{
  @include uniform-border();
}
